.container{
    border: 2px solid blueviolet;
}
.cards{
    width: calc(100% / 3);
    border: 1px solid blue;
}


#card-container{
    border: 2px solid gold;
    display: flex;
    flex-wrap: wrap;
}
